.link{
    text-decoration-line: none;
    color : white;
    font-size: inherit;

}
.RightButton{
    margin-left: auto;
}
.Navbar{
    z-index: 1;
}
.navbar_default svg{
    padding: 0%;
    width: 100%;
    height: 50%;
}
.formattedbutton:checked{
    border:10px solid red;
}
.toggle{
    width: min-content;
}